.intro {
  text-align: center;
}

.intro .title {
  max-width: 18ch;
  margin-inline: auto;
}

.intro .text {
  margin-inline: auto;
  max-width: 34rem;
}

.intro .divider {
  margin-bottom: 2.5rem;
}
